<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 col-lg-12 pl-0">
            <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" (change)="txtSelected($event)" accept=".txt" multiple="false"
                    id="txtFile">
                <label class="custom-file-label mb-0" for="txtFile">
                    <span *ngIf="txtFileName == null">Choose a gcp_list.txt file</span>
                    <span *ngIf="txtFileName != null">{{txtFileName}}</span>
                </label>
            </div>
            <div class="alert alert-danger mt-3" *ngIf="errors != null && errors.length > 0">
                <fa-icon icon="exclamation-triangle" class="mr-2"></fa-icon>Cannot load file, please fix the
                following errors:<br />
                <ul class="mt-2">
                    <li *ngFor="let error of errors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <!--<div class="alert alert-info" *ngIf="descriptor !== null">
                <fa-icon icon="info-circle" class="mr-2"></fa-icon>The GCP file has been successfully loaded. Now select the images using the box below.
            </div>-->
            <div class="custom-file mt-3" *ngIf="descriptor !== null">
                <input type="file" class="custom-file-input" (change)="imagesSelected($event)" accept="image/*" multiple="true"
                    id="images">
                <label class="custom-file-label mb-0" for="images">
                    <span *ngIf="images == null">Select the images referenced in the GCP file</span>
                    <span *ngIf="images != null">{{images.length}} image{{images.length !== 1 ? 's' : ''}} matched</span>
                </label>
                <div class="mt-2" *ngIf="loadValue !== 0 && loadValue !== 100"><ngb-progressbar [showValue]="true" type="success" [value]="loadValue" [max]="100"></ngb-progressbar></div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 d-none d-xl-block pr-0 pl-0">
            <div class="card">
                <div class="card-header" (click)="toggleTxtExample()">
                    <fa-icon icon="download" class="mr-2"></fa-icon>Download example
                </div>
                <div class="card-body"  *ngIf="!hideTxtExample">
                    <ul class="m-0">
                        <li>
                            <a href="./assets/example-files/GCPs-TXT/gcp_list.txt" download>gcp_list.txt</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header" (click)="toggleTxtSpecs()">
                    <fa-icon icon="info-circle" class="mr-2"></fa-icon>gcp_list.txt format specification
                </div>
                <div class="card-body" *ngIf="!hideTxtSpecs">
                    <ol>
                        <li>
                            The first row must be a valid projection string (PROJ) or EPSG code
                        </li>
                        <li>After the header your gcp_list.txt must contain at least 6 columns separated by spaces or
                            tabs:<br />
                            <pre
                                class="my-2">geo_x  geo_y   geo_z   im_x    im_y    image_name  [gcp_name]    [extra1]    [extra2]    ...</pre>
                        </li>
                        <li>
                            The first 3 colums are the geo coordinates in the
                            selected coordinate system units: (latitude, longitude, elevation) or (northing, easting,
                            elevation)
                        </li>
                        <li>
                            Elevation values can be set to "NaN" to indicate no value
                        </li>
                        <li>
                            The 4th and 5th columns contain the GCP pixel coordinates in the image
                        </li>
                        <li>
                            The 6th column contains the image file name
                        </li>
                        <li>
                            The 7th column (optional) contains the name of the GCP. If this information is not provided,
                            the names of the GCPs will be autogenerated
                        </li>
                        <li>
                            Extra columns are allowed
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card my-3" *ngIf="descriptor !== null && descriptor.projection !== null">
    <div class="card-body py-3">
        <pre class="my-0 py-0"><strong>Coordinate Reference System:</strong>&nbsp;{{ descriptor.projection.str }}</pre>
    </div>
</div>
<table class="table table-striped table-sm mt-3" *ngIf="descriptor != null">
    <thead>
        <tr>
            <th>X</th>
            <th>Y</th>
            <th>Z</th>
            <th>ImageX</th>
            <th>ImageY</th>
            <th>Filename</th>
            <th>GCP Label</th>
            <th *ngFor="let extra of extras">
                {{extra}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let imgGcp of descriptor.imageGcps">
            <td>
                {{ imgGcp.geoX }}
            </td>
            <td>
                {{ imgGcp.geoY }}
            </td>
            <td>
                {{ imgGcp.geoZ }}
            </td>
            <td>
                {{ imgGcp.imX }}
            </td>
            <td>
                {{ imgGcp.imY }}
            </td>
            <td>
                {{ imgGcp.imgName }}
                <fa-icon title="Image loaded" icon="check-circle" class="ml-2 text-success" *ngIf="isLoaded(imgGcp.imgName)"></fa-icon>
                <fa-icon title="Image not loaded" icon="question-circle" class="ml-2 text-warning" *ngIf="!isLoaded(imgGcp.imgName)"></fa-icon>
                
            </td>
            <td>
                {{ imgGcp.gcpName }}
            </td>
            <td *ngFor="let extra of imgGcp.extras">
                {{extra}}
            </td>
        </tr>
    </tbody>
</table>
<div class="fixed-bottom bg-white d-flex align-items-center justify-content-end">
    <app-license-info></app-license-info>
    <button class="btn btn-primary mr-3 my-3" [disabled]="!isReady" (click)="next()">Go to next step<fa-icon
            icon="long-arrow-alt-right" class="ml-2"></fa-icon></button>
</div>