.add_marker_control {
	background-image: url(images/add_marker.png);
	width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    margin-bottom: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #ffffff;
}
.add_marker_control.selected, .add_marker_control.selected:hover{
    background-color: #d8d8d8;
}

.add_marker_control:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.del_marker_control {
	background-image: url(images/del_marker.png);
	width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #ffffff;
}

.del_marker_control:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}
