.smart-image{
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 10000px;
    max-height: 320px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.smart-image::-webkit-scrollbar{
    display: none; /* Safari / Chrome */
}

.smart-image > div{
    overflow: visible !important;
}

.img-fluid{
    image-rendering: pixelated;
    max-width: 10000px; 
    max-height: 320px;
}

.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
}

.msg {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition-duration: 0.3s;
    pointer-events: none;
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto,Arial,sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}