<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <fa-icon icon="info-circle" class="mr-2"></fa-icon>This is a preview of your gcp_list.txt file. Press Download to save it. You can also use the file to resume work later.
        </div>
        <div class="card my-3">
            <div class="card-body py-3">
                <pre class="my-0 py-0"><strong>Coordinate Reference System:</strong>&nbsp;{{ projection.str }}</pre>
            </div>
        </div>
        <table class="table table-striped table-sm mt-3">
            <thead>
                <tr>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>ImageX</th>
                    <th>ImageY</th>
                    <th>Filename</th>
                    <th>GCP Label</th>
                    <th *ngFor="let extra of extras">
                        {{extra}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imgGcp of imageGcps">
                    <td>
                        {{ imgGcp.geoX }}
                    </td>
                    <td>
                        {{ imgGcp.geoY }}
                    </td>
                    <td>
                        {{ imgGcp.geoZ }}
                    </td>
                    <td>
                        {{ imgGcp.imX }}
                    </td>
                    <td>
                        {{ imgGcp.imY }}
                    </td>
                    <td>
                        {{ imgGcp.imgName }}
                    </td>
                    <td>
                        {{ imgGcp.gcpName }}
                    </td>
                    <td *ngFor="let extra of imgGcp.extras">
                        {{extra}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="fixed-bottom bg-white d-flex justify-content-between align-items-center">    
    <button class="btn btn-primary ml-3 my-3" (click)="back()">
        <fa-icon icon="long-arrow-alt-left" class="mr-2"></fa-icon>Back
    </button>
    <button class="btn btn-primary mr-3 my-3" (click)="exportTxt()">
        <fa-icon icon="download" class="mr-2"></fa-icon>Download gcp_list.txt
    </button>
</div>