<div class="row">
    <div class="col">
        <div class="alert alert-info">
            <fa-icon icon="info-circle" class="mr-3"></fa-icon>Select or drag &amp; drop images where {{gcp.name}} is
            visible, then click it in each image or use the automatic detection button.
        </div>
    </div>
</div>
<div class="form-row mt-2">
    <div class="col">
        <div class="custom-file">
            <input type="file" class="custom-file-input" #imagesUpload (change)="imagesSelected($event)"
                accept="image/*" multiple="true" id="imagesFiles">
            <label class="custom-file-label mb-0" for="imagesFiles">
                Select images
            </label>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="input-group">
            <div class="input-group-prepend" *ngIf="rawImages.length > 0">
                <span class="input-group-text">{{images.length}} / {{rawImages.length}}</span>
            </div>
            <input type="number" [(ngModel)]="filterDistance" step="1" placeholder="Distance in meters" min="0" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-danger" type="button" (click)="filterDistance = null; filterImages();">
                    X
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="filterImages()">
                    <fa-icon icon="filter" class="mr-2"></fa-icon>
                    Filter (meters)
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <button class="btn btn-info" type="button" (click)="detectImages()">
            <fa-icon icon="search" class="mr-2"></fa-icon>
            Detect GCPs
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col" *ngIf="images !== null">
        <div *ngFor="let desc of images" class="align-top d-inline-block text-center border"
            [ngClass]="{'w-33': images.length >= 3, 'w-50': images.length <= 2}">
            <span class="badge d-block rounded-0" [ngClass]="getClass(desc)">
                <h5 class="m-1">{{getName(desc)}}
                    <fa-layers [fixedWidth]="true" class="ml-3" *ngIf="desc.distance == null">
                        <fa-icon [styles]="{'color': '#2c3e50'}" icon="map-marker-alt"></fa-icon>  
                        <fa-icon icon="slash"></fa-icon>
                    </fa-layers>                                          
                </h5>
                <button type="button" class="close" aria-label="Close" (click)="remove(desc)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <a class="find" (click)="detect(desc)">
                    <div class="d-flex align-items-center h-100">
                        <fa-icon icon="search"></fa-icon>
                    </div>
                </a>
            </span>
            <app-smartimage *ngIf="desc.imageUrl !== null" [src]="desc.imageUrl" [pinLocation]="desc.pinLocation"
                (pin)="pin($event, desc)">
            </app-smartimage>
        </div>
    </div>
</div>
<div class="fixed-bottom bg-white d-flex justify-content-between align-items-center">
    <button class="btn btn-primary ml-3 my-3" (click)="back()">
        <fa-icon icon="long-arrow-alt-left" class="mr-2"></fa-icon>Cancel
    </button>
    <button class="btn btn-primary mr-3 my-3" (click)="ok()">Save Changes
        <fa-icon icon="save" class="ml-2"></fa-icon>
    </button>
</div>
<div class="loader" *ngIf="isLoading">
    <div class="loader-content rounded shadow p-4">
        <!-- close icon -->
        <div class="close-icon">
            <fa-icon icon="times" class="text-danger" (click)="interrupt()"></fa-icon>
        </div>
        <div class="text-center">
            <fa-icon icon="cog" [spin]="true" size="2x"></fa-icon>
        </div>
        <div class="my-2 text-center">
            {{loadingMessage}}
        </div>
        <div class="mb-2 text-center">{{loadingProgress | percent:'2.2-2'}}</div>
        <!--<div><ngb-progressbar type="dark" textType="white" [value]="loadingProgress" [showValue]="true"></ngb-progressbar></div>-->
    </div>
</div>