.badge {
    .success, .info {
        cursor: pointer;
    }
    position: relative;
    .close{
        position: absolute;
        right: 10px;
        top: 6px;
    }
    .find {
        position: absolute;
        left: 10px;
        height: 100%;
        top: 0;
        &:hover {
            cursor: pointer;
        }
    }
    h5{
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

input{
    user-select: none;
}