/* You can add global styles to this file, and also import other style files */

$custom-orders: 50;

$theme-colors: (
    "primary": #2c3e50,
    "secondary": #ffffff,
);

.w-33 {
    width: 33.333333% !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.breadcrumb-item.active{
    font-weight: bold;
    color: inherit;
}

nav.fixed-top{
    box-shadow: 0px 2px 4px -2px #000;

    ol.breadcrumb{
        margin-bottom: 0;
    }
}

.btn[disabled]{
    opacity: 0.5;
    &:hover{
        cursor: not-allowed;
    }
}

.fixed-bottom{
    border-top: 1px solid #dadee3;
}

.alert a{
    text-decoration: underline;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

html,body{
    padding: 0;
    margin: 0;
}
